[GstThumbnailer]
enabled=true
size=256
max_file_size=2048

[FfmpegThumbnailer]
enabled=true
size=256
max_file_size=2048

[PdfThumbnailer]
enabled=true
size=256
max_file_size=2048

[TextThumbnailer]
enabled=true
size=256
max_file_size=2048

[RawThumbnailer]
enabled=true
size=256
max_file_size=2048
